@using MVCForum.Domain.Constants
@using SquishIt.Framework
@{
    var theme = Html.Settings().Theme;
    var themePath = string.Concat(AppConstants.ThemeRootFolder, theme);
    var globalClass = Convert.ToBoolean(PageData[AppConstants.IsMobileDevice]) ? "mobile" : "desktop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDesc" />
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical

    @(Bundle.Css()
              .Add("~/Content/Styles/bootstrap.css")
              .Add("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
              .Add("~/Content/Styles/bootstrap-responsive.css")
              .Add("~/Content/Styles/bootstrap-prettify.css")
              .Add(themePath + "/Content/Styles/theme.css")
              .Add(themePath + "/Content/webfontkit/stylesheet.css")
              .MvcRender("~/content/cache/combined_" + theme + "_#.css"))

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lt IE 8]>
            <script src="@Url.Content("~/scripts/json3.js")"></script>
        <![endif]-->
    <link rel="shortcut icon" href="@Url.Content(themePath + "/content/images/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content(themePath + "/content/images/apple-touch-icon-57-precomposed.png")">
    <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>
    @(Bundle.JavaScript()
              .Add("~/Scripts/jquery-1.8.0.min.js")
              .Add("~/Scripts/jquery.unobtrusive-ajax.js")
              .Add("~/Scripts/jquery.placeholder.min.js")
              .Add("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
            //.Add("~/Scripts/bootstrap.min.js")              
              .Add("~/Scripts/bootstrap-prettify.js")
              .Add("~/Scripts/general.js")
              .Add(themePath + "/Content/Scripts/general.js")
              .MvcRender("~/scripts/cache/combined_" + theme + "_#.js")
              )
    @RenderSection("Header", false)

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5486ae9627c1f940" async="async"></script>
    
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "ef349052-0ff5-4ef3-b6d9-60bf3da1103c", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>

</head>
<body class="@globalClass">


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    Community <span class="caret"></span>
                </button>

                <a class="navbar-brand" href="https://noonswoonapp.com"></a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav dropdown-toggle">
                    <li><a href="http://noonswoonapp.com/premium" title="Premium">Premium</a></li>
                    <li><a href="http://community.noonswoonapp.com/">Community</a></li>
                    <li><a href="http://blog.noonswoonapp.com/" title="Blog">Blog</a></li>
                    <li><a href="http://noonswoonapp.com/home/careers" title="Careers">Careers</a></li>                    
                    @if (!User.Identity.IsAuthenticated)
                    {
                        if (Html.Settings().SuspendRegistration != true)
                        {
                        <li><a href="@Url.Action("Register", "Members")">@Html.LanguageString("Layout.Nav.Register")</a></li>
                        }
                        <li><a href="@Url.Action("LogOn", "Members")">@Html.LanguageString("Layout.Nav.Logon")</a></li>
                    }
                    @if (User.IsInRole(AppConstants.AdminRoleName))
                    {
                        <li><a href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">@Html.LanguageString("Layout.Nav.Admin")</a></li>
                    }
                    <!--<li><a href="@Url.Action("index", "premium")">Premium</a></li>
                <li><a href="@Url.Action("index", "encourager")">To Be An Encourager</a></li>-->
                </ul>

                <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Already Member ? <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
            </div>
        </div>
    </nav>


    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="https://noonswoonapp.com">
                    <img src="@Url.Content("~/Content/admin/Images/admin-n3o-logo.png")" alt="Admin Logo" />
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index", "Home")">@Html.LanguageString("Layout.Nav.Home")</a></li>
                        @* @if (Html.Settings().EnablePoints)
                        {
                            <li><a href="@Url.Action("Leaderboard", "Home")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li>
                        }

                        <li><a href="@Url.Action("Activity", "Home")">@Html.LanguageString("Layout.Nav.Activity")</a></li>
                        <li><a href="@Url.Action("AllBadges", "Badge")">@Html.LanguageString("Layout.Nav.Badges")</a></li> *@

                        @if (!User.Identity.IsAuthenticated)
                        {
                            if (Html.Settings().SuspendRegistration != true)
                            {
                            <li><a href="@Url.Action("Register", "Members")">@Html.LanguageString("Layout.Nav.Register")</a></li>
                            }
                            <li><a href="@Url.Action("LogOn", "Members")">@Html.LanguageString("Layout.Nav.Logon")</a></li>
                        }
                        @if (User.IsInRole(AppConstants.AdminRoleName))
                        {
                            <li><a href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">@Html.LanguageString("Layout.Nav.Admin")</a></li>
                        }
                    </ul>
                    <ul class="downloadButton">
                        <li>
                            <a target="_blank" href="https://itunes.apple.com/th/app/noonswoon/id605218289?ls=1&amp;mt=8" class="button">Download for iPhone</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.noonswoon" class="button">Download for Android</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->



    <div class="container-fluid">
        @Html.Partial("_GenericMessage")
        @Html.Partial("_EmailConfirmationNotice")
        @Html.Partial("_NoScript")
        <div id="main" class="row-fluid mainbody">

            <div class="span9">
                @RenderBody()
            </div>
            <div class="span3 sidelayoutsection">
                <div class="main-side-box">
                    @if (User.Identity.IsAuthenticated)
                    {                        
                        @Html.Action("CreateTopicButton", "Topic")
                        @Html.Action("SideAdminPanel", "Members")
                    }
                    @RenderSection("side", false)
                </div>
            </div>

        </div>
        <hr>
        @Html.Action("GetMainStats", "Stats")
        @Html.Action("GetCurrentActiveMembers", "Members")
        <p>
            &copy; @DateTime.UtcNow.Year - @Html.LanguageString("Layout.PoweredBy") <a rel="nofollow" href="http://www.mvcforum.com">MVCForum.com</a>
        </p>
        @RenderSection("Footer", false)
        <hr>        
    </div>

    <!-- Footer -->
        <footer>
            <div class="container-fluid" id="media">
                <ul>
                    <li><a href="https://www.thairath.co.th/content/life/359586" class="thairath" title="ไทยรัฐ" target="_blank"></a></li>
                    <li><a href="http://www.bangkokpost.com/tech/gadget/364519/meet-your-matchmaker" class="bangkokpost" title="บางกอกโพสต์" target="_blank"></a></li>
                    <li><a href="http://www.youtube.com/watch?v=Nl53UspVkx0" class="mcot" title="MCOT" target="_blank"></a></li>
                    <li><a href="https://www.blognone.com/node/47197" class="blognone" title="Blognone" target="_blank"></a></li>
                    <li><a href="http://thumbsup.in.th/2013/10/ais-noonswoon-silicon-valley/" class="thumbups" title="Thumbups" target="_blank"></a></li>
                    <li><a href="http://e27.co/matchmaking-app-noonswoon-closes-seed-round-at-us3m-valuation" class="e27" title="e27" target="_blank"></a></li>
                    <li><a href="https://www.techinasia.com/thai-telco-ais-flirty-noonswoon-dating-app/" class="techinasia" title="Tech in Asia" target="_blank"></a></li>
                    <li><a href="http://www.thrillist.com/own/nation/the-five-must-have-smartphone-apps-june" class="thrillist" title="Thrillist" target="_blank"></a></li>
                    <li><a href="http://bangkok.coconuts.co/2013/06/27/deep-swoon-noonswoon-aiming-change-way-bangkokians-look-love" class="coconutsbangkok" title="Coconuts Bangkok" target="_blank"></a></li>
                </ul>
            </div>
            <div class="container-fluid" id="menu">
                <ul>
                    <li><a href="#" title="About Us">About Us</a></li>
                    <li><a href="http://blog.noonswoonapp.com" target="_blank" title="Blog">Blog</a></li>
                    <li><a href="http://community.noonswoonapp.com/" title="Community">Community</a></li>
                    <li><a href="@Url.Action("careers", "home")" title="Careers">Careers</a></li>
                    <li><a href="mailto:support@noonswoon.com" title="Contact Us">Contact Us</a></li>
                    <li><a href="@Url.Action("privacy", "home")" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="@Url.Action("terms", "home")" title="Terms of Service">Terms of Service</a></li>
                </ul>
            </div>
            <div class="container-fluid center">
                © 2013 - @DateTime.UtcNow.Year Noonswoon, Inc.
            </div>
        </footer>

        @*<div class="row-fluid">
                <div class="span12">
                    <!-- ########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ###########################
                            If you would like to remove the powered by notice, then please vist http://www.mvcforum.com/license -->
                    <p>
                        &copy; @DateTime.UtcNow.Year - @Html.LanguageString("Layout.PoweredBy") <a rel="nofollow" href="http://www.mvcforum.com">MVCForum.com</a>
                    </p>
                    <!--########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ########################### -->
                </div>
            </div>*@
</body>
</html>
